<style>@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

</style>* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0%;
  margin: 0%;
  background: rgb(18, 18, 18);
}

main {
  height: 75%;
  width: 100%;
}

.flex {
  display: flex;

}


.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 24, 28);
  border: solid 1px rgb(24, 24, 28);
  height: 71px;
  width: 100%;
}

.header-navigation-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icone-epic {
  padding: 0px 16px;
}


#bar {
  background-color: rgb(48, 48, 52);
  height: 32px;
  width: 2px;
  margin: 0px 10px;
}

#icone-store {
  padding: 0px 16px;
}


#iconeesquerdo {
  background-image: -moz-linear-gradient(color rgb(18, 18, 18));
  height: 24px;
  width: 24px;
  display: flex;
  background: color rgb(18, 18, 18);
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  padding-right: 20px;
}

#icone-globo {
  padding-right: 6px;

}

#icone-perfil {
  padding: 0px 18px;
  padding-left: 0px;
}

#container-pesquisa {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
  padding-left: 220px;
}

input {
  display: flex;
  height: 24px;
  width: 180px;
  background-color: rgb(32, 32, 32);
  border: 0px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 8px;

}


#download {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 0.5rem;
  background-color: rgb(38, 187, 255);
  cursor: pointer;
  border: solid rgb(38, 187, 255) 8px;
  height: 32px;
}

.icone-pesquisa {
  padding-left: 100px;
}

.header-link {
  font-size: 15px;
  font-family: roboto, sans-serif;
  color: rgb(152, 152, 153);
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.header-link:hover {
  color: white;
  background-color: rgb(133, 133, 133);
  cursor: pointer;
}



#descobrir {
  color: white;
  font-family: roboto, sans-serif;
  font-size: 15px;
  padding-left: 26px;
}

#navegar {
  color: rgb(152, 152, 153);
  font-size: 15px;
  font-family: roboto, sans-serif;
  bottom: 785px;
  padding-left: 26px;
}

#main-link {
  font-family: roboto, sans-serif;
  padding-left: 26px;
  color: rgb(152, 152, 153);
  font-size: 15px;
  cursor: pointer;
}

#main-link:hover {
  color: white;
  font-size: 15px;
}

#container-box {
  width: 20px;
  /* Largura do elemento */
  padding: 20px;
  /* Espaçamento interno */
  border: 5px solid red;
  /* Borda fixa */
  background-color: white;
  /* Fundo branco */
  z-index: 1000;
  /* Garante que o elemento fique acima de outros */
}

p {
  font-size: 22px;
}

#container-pesquisa {
  display: flex;

}

.container-banner-1 {
  display: flex;
  align-items: center;
  padding: 100px;
  justify-content: center;
  flex-direction: column;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
}

.image {
  width: 100px;
  height: 100px;
}

.container-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  background-color: blue;
  background: rgb(18, 18, 18);
}

.elemento {
  width: 250px;
  height: 250px;
  background-color: wheat;
  border: 10px solid rgb(18, 18, 18);
}

/*--------------------------------------INICIO DA PARTE FOOTER--------------------------------------------------------------------*/
footer {
  background-color: rgb(32, 32, 32);
  height: 650px;
  padding: 1px;
}

#footerPai {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 46px 66px;
}

#logoImgs {
  display: flex;
}

.footerLogosHere {
  margin: 0px 4px;
  opacity: 0.8;
  transition: background-color 0.5s ease;
  height: 30px;
}

.footerLogosHere:hover {
  background-color: blue;
  transform: scale(1.2);
}

#goToTop {
  margin-left: auto;
  align-items: flex-start;
  position: relative;
  bottom: 3px;
}

#goToTop:hover {
  transform: scale(1.2);
  box-shadow: 4px 4px 10px rgb(43, 8, 8);
}

#h3Recursos {
  /*H3 AQUI */
  padding-top: 11px;
  margin-left: 5px;
  opacity: 0.3;
}

#recursosPai {
  margin: -10px 6px;
  display: flex;
  flex-flow: row wrap;
  font-family: "Rajdhani", sans-serif;
}

#recursosPai a {
  text-decoration: none;
  color: rgb(223, 223, 223);
  transition: color 0.3s;
}

#recursosPai h3 {
  opacity: 0.3;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

#recursosPai ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.recursosBloquinhos {
  font-size: 14px;
}

.recursosBloquinhos li {
  padding: 4px 27px;
  margin-left: -28px;
}

#recursosPai a:hover {
  color: rgb(45, 112, 255);
}

/* FeitopelaEpicGames vai começar à baixo */
#FeitopelaEpicGamesH3 {
  padding-top: 28px;
  margin-left: 5px;
  opacity: 0.3;
}

.recursosBloquinhosDif {
  font-size: 14px;
}

.recursosBloquinhosDif li {
  padding: 5px 41px;
  margin-left: -42px;
}

#hrHere {
  opacity: 0.1;
  margin-top: 31px;
  margin-bottom: 24px;
  width: 99%;
}

#CopyHere {
  margin-left: 6px;
  display: flex;
  text-align: start;
  max-width: 886px;
}

#CopyHere p {
  opacity: 0.7;
  font-size: 11px;
  line-height: 24px;
  font-family: "Rajdhani", sans-serif;
}

#termosEPolitica {
  margin-top: 48px;
  margin-left: 6px;
}

#termosEPolitica ul {
  display: flex;
  justify-content: space-evenly;
}

#termosEPolitica li {
  display: inline;
  list-style-type: none;
  flex-grow: 0;
}

#termosEPolitica a {
  text-decoration: none;
  color: rgb(223, 223, 223);
  font-size: 12px;
  transition: color 0.4s;
}

#termosEPolitica a:hover {
  color: rgb(45, 112, 255);
}

/* @media only screen and (max-width: 1025px) { */
footer {
  height: 700px;
}

/* @media only screen and (max-width: 900px) {
    footer {
      height: 800px;
    }

    @media only screen and (max-width: 600px) {
      footer {
        height: 900px;
      }

      @media only screen and (max-width: 550px) {
        footer {
          height: 1000px;
        } */

/*----------------------------FIM DA PARTE FOOTER-------------------------------------------------------------------------------*/